---
import "../assets/general.css";
// import Nav from "../components/Nav.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta name="robots" content="noindex, nofollow" />
		<title>Guldsmed Pade</title>
		
		<link rel="stylesheet" href="../assets/general.css" />
	</head>

	<!-- BODY LAYOUT STRUCTURE with CSS Grid style -->
	<body>
		<header class="header">
			<!-- <Nav/ > -->
			<!-- <Header /> -->
			<h1>Header</h1>
		</header>

		<main class="main">
			<slot />
		</main>

		<footer class="footer">
			<!-- <Footer /> -->
			 <h3>Footer</h3>
		</footer>
	</body>
</html>
